<div class="flex h-screen bg-sky-300">
  <div class="flex flex-col top-15 left-0 w-1/5 bg-white h-full h-screen border-r">
    <div class="overflow-y-auto overflow-x-hidden flex-grow">
      <ul class="flex flex-col py-4 space-y-1">
        <li>
          <a (click)="goToPage('Dashboard-user')" class="relative cursor-pointer flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-blue-300 pr-6">
            <span class="inline-flex justify-center items-center ml-4">
             <img src="../../assets/imgs/home.svg" class="w-5 h-5">
            </span>
            <span class="ml-5 text-sm tracking-wide truncate">Dashboard</span>
          </a>
        </li>
        <li>
          <a (click)="goToPage('LugaresDisponiveis')" class="relative cursor-pointer flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-blue-300 pr-6">
            <span class="inline-flex justify-center items-center ml-4">
             <img src="../../assets/imgs/lugares.svg" class="w-5 h-5">
            </span>
            <span class="ml-5 text-sm tracking-wide truncate">Lugares Disponíveis</span>
          </a>
        </li>
        <li>
          <a (click)="goToPage('Reservas')" class="relative cursor-pointer flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-blue-300 pr-6">
            <span class="inline-flex justify-center items-center ml-4">
             <img src="../../assets/imgs/calendar.svg" class="w-5 h-5">
            </span>
            <span class="ml-5 text-sm tracking-wide truncate">Reservar Lugar</span>
          </a>
        </li>
        <li>
          <a (click)="goToPage('Veiculos')" class="bg-zinc-200 cursor-pointer relative cursor-pointer flex flex-row items-center h-11 focus:outline-none text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-blue-300 pr-6">
            <span class="inline-flex justify-center items-center ml-4">
              <img src="../../assets/imgs/car.svg" class="w-5 h-5">
            </span>
            <span class="ml-5 text-sm tracking-wide truncate">Veiculos</span>
          </a>
        </li>
        <li>
          <a (click)="goToPage('Estatisticas')" class="relative cursor-pointer flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-blue-300 pr-6">
           <span class="inline-flex justify-center items-center ml-4">
             <img src="../../assets/imgs/stats.svg" class="w-5 h-5">
           </span>
           <span class="ml-5 text-sm tracking-wide truncate">Estatisticas</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="flex flex-col flex-1 w-full overflow-y-auto bg-cyan-300">
    <div class="grid mb-4 pb-10 px-8 mx-4 mt-4 rounded-3xl bg-gray-100">
      <h2 class="Reservar">Os seus Veiculos</h2>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3">
                Matricula
              </th>
              <th scope="col" class="px-6 py-3">
                <span class="sr-only">Cancelar</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white border-b hover:bg-gray-50" *ngFor="let veiculo of veiculos ">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                {{veiculo.ValorMatricula}}
              </th>
              <td class="px-6 py-4 text-right">
                <button (click)="openVPopup()" class="font-medium text-blue-600 hover:underline cursor-pointer">Editar</button>
                <app-popup-veiculo *ngIf="isVPopupOpen"></app-popup-veiculo>
              </td>
            </tr>
          </tbody>

        </table>
        <div class="text-center items-center">
          <h2 class="Reservar">Neste momento tens {{veiculos.length}} veiculos registados</h2>
          <button (click)="goToPage('RegistarVeiculos')" type="button"
            class="text-white bg-cyan-400 hover:bg-cyan-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
            Registar veiculos
            <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>