<div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased text-gray-800">
    <div class="bg-cyan-300 w-5/6 h-96 absolute right-0">
      <h1 class="text-center mt-10 text-white text-3xl font-bold">Parques</h1>
      <button class="absolute left-[10%] py-1.5 px-2.5 bg-white rounded border border-black cursor-pointer text-sm" (click)="openAPopup()">Adicionar Parque +</button>
      <app-popup-adicionar *ngIf="isAPopupOpen"></app-popup-adicionar>
      <div class="flex justify-center items-center mt-[5%]">
        <table class="w-4/5 rounded-lg overflow-hidden bg-white">
          <tr class="h-16 p-5 bg-cyan-100 border-b-cyan-300 border-b">
            <th class="border-r border-r-cyan-300">Nº Parque</th>
            <th class="border-r border-r-cyan-300">Lugares disponíveis</th>
            <th class="border-r border-r-cyan-300">Total Lugares</th>
            <th class="border-r border-r-cyan-300"> Tipo Parque</th>
            <th>Editar</th>
          </tr>
          <tr class="border-b-cyan-300 border-b text-center" *ngFor="let parque of parques">
            <td class="p-2 border-r border-r-cyan-300">{{parque.ParqueID}}</td>
            <td class="p-2 border-r border-r-cyan-300">{{parque.LugaresDisponiveis}}</td>
            <td class="p-2 border-r border-r-cyan-300">{{parque.LugaresTotal}}</td>
            <td class="p-2 border-r border-r-cyan-300">{{parque.TPID}}</td>
            <td style="border-right: white;">
              <img class="w-3.5 h-3.5 block mx-auto cursor-pointer" (click)="getMethod()" src="../../assets/imgs/edit.svg">
              <app-popup-editar *ngIf="isEPopupOpen"></app-popup-editar>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="flex flex-col top-15 left-0 w-1/6 bg-white h-full h-screen border-r">
      <div class="overflow-y-auto overflow-x-hidden flex-grow">
        <ul class="flex flex-col py-4 space-y-1">
          <li>
            <a (click)="goToPage('Dashboard-admin')" class="relative cursor-pointer flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-blue-300 pr-6">
              <span class="inline-flex justify-center items-center ml-4">
               <img src="../../assets/imgs/home.svg" class="w-5 h-5">
              </span>
              <span class="ml-5 text-sm tracking-wide truncate">Dashboard</span>
            </a>
          </li>
          <li>
            <a (click)="goToPage('Alertas-da')" class="relative cursor-pointer flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-blue-300 pr-6">
              <span class="inline-flex justify-center items-center ml-4">
               <img src="../../assets/imgs/alert-triangle.svg" class="w-5 h-5">
              </span>
              <span class="ml-5 text-sm tracking-wide truncate">Multas</span>
            </a>
          </li>
          <li>
            <a (click)="goToPage('Reservas-da')" class="relative cursor-pointer flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-blue-300 pr-6">
              <span class="inline-flex justify-center items-center ml-4">
               <img src="../../assets/imgs/calendar.svg" class="w-5 h-5">
              </span>
              <span class="ml-5 text-sm tracking-wide truncate">Reservas</span>
            </a>
          </li>
          <li>
            <a (click)="goToPage('Utilizadores')" class="relative cursor-pointer flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-blue-300 pr-6">
              <span class="inline-flex justify-center items-center ml-4">
                <img src="../../assets/imgs/user.svg" class="w-5 h-5">
              </span>
              <span class="ml-5 text-sm tracking-wide truncate">Utilizadores</span>
            </a>
          </li>
          <li>
            <a (click)="goToPage('Veiculos-da')" class="cursor-pointer relative flex flex-row items-center h-11 focus:outline-none text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-blue-300 pr-6">
             <span class="inline-flex justify-center items-center ml-4">
               <img src="../../assets/imgs/car.svg" class="w-5 h-5">
             </span>
             <span class="ml-5 text-sm tracking-wide truncate">Veículos</span>
            </a>
          </li>
          <li>
            <a (click)="goToPage('Parques')" class="bg-zinc-200 cursor-pointer relative flex flex-row items-center h-11 focus:outline-none text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-blue-300 pr-6">
              <span class="inline-flex justify-center items-center ml-4">
               <img src="../../assets/imgs/map-pin.svg" class="w-5 h-5">
              </span>
              <span class="ml-5 text-sm tracking-wide truncate">Parques</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>